.header {
  display: flex;
  justify-content: center;
  background-color: rgba(83, 211, 83, 0.884);
  position: fixed;
  z-index: calc(4);
  width: 100%;
}

.letra_nav {
  color: white;
  font-style: none;
}
.letra_nav:hover {
  color: grey;
}
.seccion-1 {
  min-height: 100vh;
  min-width: 100%;
}
.carousel-item {
  max-height: 60vh;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(
    115deg,
    rgba(0, 0, 0, 0.945),
    rgba(0, 0, 0, 0.925)
  );
  background-position: center;
  background-size: cover;
}
.section-2 {
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(./assets/img/fondo\ sec\ 2.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.div-prestamo {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 70vh;
  background-color: rgba(83, 211, 83, 0.719);
  border-radius: 3%;
}
.form_prestamo {
  flex-direction: column;
  display: inline-block;
  flex-wrap: wrap;
  width: 100%;
  align-items: start;
  gap: 5px;
  padding: 10px;
}
