.header {
  display: flex;
  justify-content: center;
  background-color: rgb(83, 211, 83);
  position: fixed;
  z-index: calc(4);
  width: 100%;
}
.titulo_principal {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  align-items: center;
  border-bottom: 3px solid rgb(83, 211, 83);

  font-weight: 600;

  letter-spacing: 3px;
  color: white;
}
.descripcion_titulo {
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}
.letra_footer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  margin: 0;
}
.letra_nav {
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}
.letra_nav:hover {
  color: grey;
}
.letra_titulos {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  align-items: center;

  font-weight: 600;

  letter-spacing: 3px;
  color: white;
}
.seccion-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(./assets/img/2d6fafec-a7cb-43bf-998a-f73bca71a5f1.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.carousel-item {
  max-height: 60vh;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(
    115deg,
    rgba(0, 0, 0, 0.945),
    rgba(0, 0, 0, 0.925)
  );
  background-position: center;
  background-size: cover;
}
.section-2 {
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(./assets/img/fondo\ sec\ 2.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.div-prestamo {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: 70vh;
  background-color: rgba(83, 211, 83, 0.719);
  border-radius: 3%;
}
.form_prestamo {
  flex-direction: column;
  display: inline-block;
  flex-wrap: wrap;
  width: 100%;
  align-items: start;
  gap: 5px;
  padding: 10px;
}

.hover_boton:hover {
  background-color: rgb(0, 255, 149);
  border-color: rgb(0, 255, 149);
}

.footer {
  background-color: rgba(83, 211, 83, 0.884);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  min-height: 10vh;

  width: 100%;
}

.icon_redes {
  display: flex;
  gap: 8px;
  color: white;
  width: 100%;

  justify-content: center;
  align-items: center;
}
.redes {
  color: white;
}
.hover-whatsapp:hover {
  color: green;
}
.hover-instagram:hover {
  color: rgb(177, 65, 162);
}
.hover-linkedin:hover {
  color: rgb(55, 159, 201);
}
.clima {
  display: flex;
  background-color: rgba(0, 174, 255, 0.918);
  border-radius: 3%;
  margin-left: auto;
}
